<!-- templates/index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mountain Lion Movies</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    {% include 'header.html' %}

    <main>
      <h2>Welcome to Mountain Lion Movies</h2>
      <p>Your one-stop destination to find the perfect movie from any streaming service.</p>
      <a href="imdb.com" class="btn">Pick a Movie</a>
      <img src="{% static '\photos\MountainLionMovies_uccslogo.png' %}"/>
    </main>

    {% include 'footer.html' %}
  </body>
</html>
