{% extends 'filmproject/base_template.html' %}
{% load humanize %}
{% load custom_filters %}
{% block content %}

<div style="width: 100%;">
    <div style="float: left; width: 30%; text-align: center;">
        {% if film.poster_path %}
            <img src="https://image.tmdb.org/t/p/w1280/{{ film.poster_path }}" style="width: 100%;">
        {% endif %}
        <p>
        <h2>
            <strong>
                {{ film.title }}
            </strong>
            ({{ film.release_date|date:"Y" }})
        </h2>
        <h5>
            <i>
                {{ film.tagline }}
            </i>
        </h5>
        <p>
            <strong>
                Runtime:
            </strong>
            {{ film.runtime|runtime_format }}
        </p>
    </div>
    <div style="float: right; width: 65%;">
        {% if film.backdrop_path %}
            <img src="https://image.tmdb.org/t/p/w1280/{{ film.backdrop_path }}" style="width: 100%;">
        {% endif %}
        <p>
        <p>
            <strong>
                Overview:
            </strong>
            {{ film.overview }}
        </p>
        <p>
            <strong>
                Vote Average:
            </strong>
            {{ film.vote_average }}
        </p>
        <p>
            <strong>
                Vote Count:
            </strong>
            {{ film.vote_count }}
        </p>
        <p>
            <strong>
                Revenue:
            </strong>
            $ {{ film.revenue|intcomma }}
        </p>
        <p>
            <strong>
                Budget:
            </strong>
            $ {{ film.budget|intcomma }}
        </p>
        <p>
            <strong>
                Popularity:
            </strong>
            {{ film.popularity|floatformat:1 }}
        </p>
        <p>
            <strong>Adult:</strong>
            {% if film.adult %}
                Yes
            {% else %}
                No
            {% endif %}
        </p>
        <p>
            {% if film.homepage %}
            <strong>Homepage:</strong>
                <a href="{{ film.homepage }}" target="_blank">{{ film.homepage }}</a>
            {% endif %}
        </p>
        <p>
            <a href="{% url 'films' %}" class="btn btn-primary">Back to Film List</a>
        </p>
    </div>
</div>
{% endblock %}